<%- include("header"); -%>

<body class="hold-transition register-page" scroll="no" style="overflow: hidden">
  <div class="register-box">
    <div class="register-logo">
      <a href="/"><img src="/dist/img/applogo.png" width="160" height="160"></a>
      <p><b>SIN</b>TERKLAS<p>
    </div>

    <div class="register-box-body">
      <p class="login-box-msg">Register an account</p>
      <% if (isNotMatch) { %>
      <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-warning"></i> Alert!</h4>
        Password does not match.
      </div>
      <% } else if (isError) { %>
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
        <%= errMessage %>
      </div>
      <% } %>
      <form action="/register" method="post">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" name="username" placeholder="Username" value="<%= username %>" required>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" name="password" placeholder="Password" required>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" name="password2" placeholder="Confirm password" required>
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-4"></div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <div class="social-auth-links text-center"></div>
      <a href="/login" class="text-center">I already have an account</a>
    </div>
    <!-- /.form-box -->
  </div>
  <!-- /.register-box -->
  <canvas class="background"></canvas>

  <%- include("footer"); -%>

  <script>
    $('form[action="/register"]').on('submit', function() {
      $(this).find('button[type="submit"]').prop('disabled', true);
    });
    $(function() {
      Particles.init({
        selector: '.background',
        color: '#000000',
        maxParticles: 130,
        connectParticles: true,
        responsive: [{
          breakpoint: 768,
          options: {
            maxParticles: 80
          }
        }, {
          breakpoint: 375,
          options: {
            maxParticles: 50
          }
        }]
      });
    });
  </script>
